p{
    border: 10px groove red;
    border-radius:100px;
    margin:100 px;
    padding:50px;
    text-align:center;
    font-style:Italic;
    outline: solid rgb(3, 67, 3) 10px;
    outline-offset: 10px;
    text-shadow:2px 2px 3px red, 2px 2px 3px greenyellow;
    color:rgb(78, 159, 231);
    
   
}